html, body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
.interactable {
  display: flex;
  margin: 10% 0;
  justify-content: center;
}

canvas {
  display: block;
}

.color-pallete {
  margin: 15px 15px;
}

.color{
  width: 25px;
  height: 25px;
  display: inline-block;
  border-style: solid;
}

#color_red {
  background-color: red;
}

#color_pink {
  background-color: rgb(255, 0, 217);
}