html {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
.interactable {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

canvas {
  display: block;
}

.color-pallete {
  margin: 15px 15px;
}

.color{
  width: 25px;
  height: 25px;
  display: inline-block;
  border-style: solid;
}

#color_red {
  background-color: red;
}

#color_pink {
  background-color: rgb(255, 0, 217);
}

@font-face {
  font-family: "bubble";
  src:url("bubble.ttf");
}

#spin_text{
  font-family: bubble;
  font-size: 50px;
  color: wheat;
  margin: 0;
}

#display {
  color: #00FFFF;
  font-size: 30px;
}

main {
  text-align: center;
}